<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reloj</title>
    <style>
        .reloj{
            border: 2px solid black;
            border-radius: 50%;
            background: red;
            height: 200px;
            width: 200px;
            align-items: center;
            justify-content: center;
            display: flex;
        }
    </style>
</head>
<body>
    <div class="reloj" id="reloj">
        <h2 id="tiempo">reloj</h2>
    </div>
    <button id="detener" onclick="cambiarTurno()">detener</button>
    <script src="./reloj2.js" type="module"></script>
    <script>
    </script>
</body>
</html>